
/* sighnin Styles........ */
.sighnIn{
    background-image: url('../../assets/appbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.authenticationContainer{
    min-width:30vw;
    width: auto;
    min-height: 500px;
    background-color: white;
}
.imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.primaryheader{
    font-size: 2rem;
    margin-top: 5rem;
    font-weight: 800;
}
.credentailsContainer{
    text-align: center;
}
.signInForm .field input{
    margin: auto;
    width: 90%;
}
.field{
    margin-bottom: 1rem;
}
.field label{
    text-align: start;
    margin: auto;
    width: 90%;
}
.login{
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    background-color: darkcyan;
}
.sighnUp{
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    margin-right: 20px;
    background-color: lightsteelblue;

}
.login:hover{
    box-shadow: 2px 2px 2px grey;
}
.sighnUp:hover{
    box-shadow: 2px 2px 2px grey;
}

/* Sighn up Styles....................................................... */
.sighnUpContaoner{
    height: 100vh;
    background: linear-gradient(180deg,#d3e3ff,#3c80fe,transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer{
    background-color: rgba(32,65,126,0.65);
    color: white;
   min-width: 300px;
    max-height: 650px;
    /* height: auto; */
    overflow: auto;
    backdrop-filter: blur(50px);
    box-shadow: 5px 3px 5px 0px grey;
}
.backToSignIn{
    background: lightcoral;
    border-radius: 25px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}
.backToSignIn:hover{
    box-shadow: 5px 5px 5px wheat;
}
.registration{
    margin: 10px 40px;
}
.fieldContainer{
    padding: 5px ;
    width: 450px;
}
.submission button{
    width: 90%;
    text-align: center;
    background: rgba(209,40,152,0.5);
    border-radius: 15px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 0px;
    
}
.fieldContainer input[type="number"]::-webkit-inner-spin-button,
.fieldContainer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.submission{
    margin-bottom: 10px;
}
.fieldContainer label{
    width: 100%;
    text-align: start;
    font-weight: 500;
    margin-left: 5px;
}
.fieldContainer input{
    background: rgba(53,106,140,0.75);
    border-radius: 15px;
    color: white;
}
.fieldContainer input::placeholder{
    color: white;
}
.fieldContainer input:focus{
    background-color:  rgba(53,106,140,0.75);
    color: white;
}
.submission button:hover{
    box-shadow: 2px 2px green;
}