// sighn in styles 
.sighnIn{
    height: 100vh;
    background: url('../../assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .authenticationContainer{
        // max-width:50%;
        // width: 30%;
        color: black;
        padding: 30px;
        margin: auto;
        background-image: url("../../assets/sighnInImage.webp");
        background-repeat:no-repeat;
        background-size:cover;
        border-radius: 1.5rem;
        .primaryheader{
            border-radius: 10px;
            font-size: 18px;
            color: #d3e3ff;
            text-rendering: optimizeSpeed;
            font-weight: 900;
            padding: 0.5rem;
            text-emphasis:initial;

        }
        .signInForm{
            .field{
                input.form-control {
                    background-color: rgba(48,94,135,0.9) !important;
                    color: black ;
                    border-radius: 15px;
                    font-weight: 600;
                    
                }
                ::placeholder{
                    color: black ;
                }
                label{
                    width: 100%;
                    text-align: start;
                    color: aliceblue;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }
            .login{
                background: rgba(65,75,47,0.75);
                padding:0.5rem;
                color: white;
                width: 100%;
                font-size: 12px;
                font-weight: 500;
                margin: 10px 0px ;
                border-radius: 1rem;
                :hover{
                    box-shadow: 1px 1px 1px grey;
                    // color: black !important;
                }
            }
            .singhUp{
                color:aliceblue;
                font-size: 14px;
                font-weight: 400;
                margin: 0px;
                span{
                    color: aliceblue;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;

                    text-decoration: underline;

                }
            }
            .forgotPassword{
                color: aliceblue;
                margin: 0px;
                cursor: pointer;
                :hover{
                    text-decoration: underline;
                    text-decoration-color: aliceblue;
                }


            }

            
        }
    }

}


/* Sighn up Styles....................................................... */
.sighnUpContaoner{
    height: 100vh;
    background: linear-gradient(180deg,#d3e3ff,#3c80fe,transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer{
    background-color: rgba(32,65,126,0.65);
    color: white;
   min-width: 300px;
    max-height: 650px;
    /* height: auto; */
    overflow: auto;
    backdrop-filter: blur(50px);
    box-shadow: 5px 3px 5px 0px grey;
}
.backToSignIn{
    background: lightcoral;
    border-radius: 25px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}
.backToSignIn:hover{
    box-shadow: 5px 5px 5px wheat;
}
.registration{
    margin: 10px 40px;
}
.fieldContainer{
    padding: 5px ;
    width: 450px;
}
.submission button{
    width: 90%;
    text-align: center;
    background: rgba(209,40,152,0.5);
    border-radius: 15px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 0px;
    
}
.fieldContainer input[type="number"]::-webkit-inner-spin-button,
.fieldContainer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.submission{
    margin-bottom: 10px;
}
.fieldContainer label{
    width: 100%;
    text-align: start;
    font-weight: 500;
    margin-left: 5px;
}
.fieldContainer input{
    background: rgba(53,106,140,0.75);
    border-radius: 15px;
    color: white;
}
.fieldContainer input::placeholder{
    color: white;
}
.fieldContainer input:focus{
    background-color:  rgba(53,106,140,0.75);
    color: white;
}
.submission button:hover{
    box-shadow: 2px 2px green;
}
.forgotGotContainer{
    
    height: 100vh;
    display: flex;
    background: #0178ec;
    justify-content: center;
    align-items: center;
    #forgotPasswordform{
        width: 50%;
    padding: 20px;
    background: white;


    }
    


}