// // sighn in styles 
$colr1mix:color-mix(in srgb, black 60%, white 40%);
.sighnIn{
    height: 100vh;
    // margin:1rem;
    
    .loginleftContainer{
        height: 100%;
        background-color: rgba(57,112,145,0.75);
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: center;
        // border-top-left-radius: 25px;
        // border-bottom-left-radius: 25px;
        .primaryheader{
            border-radius: 10px;
            font-size: 18px;
            color: #d3e3ff;
            text-rendering: optimizeSpeed;
            font-weight: 900;
            padding: 0.5rem;
            text-emphasis:initial;

        }
        img{
            width: 50%;
            
        }
        
    }
    .authenticationContainer{
        // border-top-right-radius: 25px;
        // border-bottom-right-radius: 25px;
        background-color:rgba(43,53,62,1);
        color: white;
         padding: 30px 10px 0px 10px;
          display: flex;
        align-items: center;
        justify-content: center;
        .contentContainer{
            background-color: #344c4e;
            border-radius: 20px;
            padding: 4rem;
            box-shadow: 5px 5px rgba(57,112,145,0.9) inset ;
            .signInForm{
                label{
                    width: 100%;
                    text-align: start;
                    color: aliceblue;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .login{
                                    background: rgba(65,75,47,0.75);
                                    padding:0.5rem;
                                    color: white;
                                    width: 100%;
                                    font-size: 12px;
                                    font-weight: 500;
                                    margin: 10px 0px ;
                                    border-radius: 1rem;
                                    :hover{
                                        box-shadow: 1px 1px 1px grey;
                                        // color: black !important;
                                    }
                                }
                                .singhUp{
                                        color:aliceblue;
                                        font-size: 14px;
                                        font-weight: 400;
                                        margin: 0px;
                                        span{
                                            color: aliceblue;
                                            font-size: 16px;
                                            font-weight: 600;
                                            cursor: pointer;
                        
                                            text-decoration: underline;
                        
                                        }
                                    }
                                    .forgotPassword{
                                        color: aliceblue;
                                        margin: 0px;
                                        cursor: pointer;
                                        :hover{
                                            text-decoration: underline;
                                            text-decoration-color: aliceblue;
                                        }
                        
                        
                                    }
                                
                }}
        // background: url("../../assets/login-page.png");
    }

}

/* Sighn up Styles....................................................... */
.sighnUpContaoner{
    height: 100vh;
    background:  #0178ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .fieldContainer{
        padding: 5px ;
        width: 450px;
        label{
            width: 100%;
            color: black;
            text-align: start;
            font-weight: 500;
            margin-left: 5px;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;}
          input{
            background: rgba(53,106,140,0.75);
            border-radius: 15px;
            color: black;
        }
        input::placeholder{
            color: black;
        }
        input:focus{
            background-color:  rgba(53,106,140,0.75);
            color: black;
        }
    }
}
.formContainer{
    background-color:#cbdcf7;
    color: white;
   min-width: 300px;
    max-height: 650px;
    /* height: auto; */
    overflow: auto;
    backdrop-filter: blur(50px);
    box-shadow: 5px 3px 5px 0px grey;
}
.backToSignIn{
    background: lightcoral;
    border-radius: 25px;
    margin: 5px;
    padding: 2px;
    cursor: pointer;
}
.backToSignIn:hover{
    box-shadow: 5px 5px 5px wheat;
}
.registration{
    margin: 10px 40px;
}

.submission button{
    width: 90%;
    text-align: center;
    background: rgba(209,40,152,0.5);
    border-radius: 15px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 0px;
    
}

.submission{
    margin-bottom: 10px;
}

.submission button:hover{
    box-shadow: 2px 2px green;
}

// forgot password container
.forgotGotContainer{
    margin: auto;
    height: 100vh;
    display: flex;
    background: #0178ec;
    .mainDiv{
        width: 50% ;
        margin: auto;
    .mainHeader{
        width: 100%;
        background-color: #344c4e;
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        word-spacing: 1,5rem;
        
    }
        
    .mainContainer{
        max-width: 100%;
        width: fit-content;
        display: flex;
        background-color: white;
        #forgotPasswordform{

            .submit{
                padding: 5px;
                width: 90%;
                background: #aecdfc;
                border: 0px;
                cursor: pointer;
                // background: #0178ec;
            }
            .fieldContainer{

                padding: 15px ;
                input{
                    // border: 0px;
                    border: 2px solid black;
                    :focus{
                    border: 2px solid black;
                    outline: 0;
                    border-radius: 20px;


                    }
                }
                label{
                    text-align: start;
                    width: 100%;
                    margin-left: 10px;
                }
            }
            width: 50%;
            border-right: 1px solid rgba(0, 0, 0, 0.5);

        }
        .imageContainer{
            width: 50%;
            padding:1rem;
            img{
                border-radius: 5px;
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }

    }
}

}