@import '../../../globalVars.scss';

@mixin menuItem{
    border-radius: 50%;
    // display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;


}
.adminDashboard .cardContainer:nth-child(1) .Common-card {
    background:linear-gradient(45deg,#39cdc3,#31aed5,transparent);
    color: white;
    font-weight: 500;
}
.adminDashboard .cardContainer:nth-child(2) .Common-card {
    background:linear-gradient(45deg,#ff8357,#fd829a,transparent);
    color: white;
    font-weight: 500;
}
.adminDashboard .cardContainer:nth-child(3) .Common-card {
    background:linear-gradient(45deg,#ee70e9,#bd6af0,transparent);
    color: white;
    font-weight: 500;
} 
.adminDashboard .cardContainer:nth-child(1) .card-title{
    font-size: 14px;
    max-height: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    background:lightblue;

}
.adminDashboard .cardContainer:nth-child(2) .card-title{
    font-size: 14px;
    max-height: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    background:#fd829a;

}
.adminDashboard .cardContainer:nth-child(3) .card-title{
    font-size: 14px;
    max-height: fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    background:#ee70e9;

}
.timesheetsTable .Common-card{
    width: 98% !important;
}

.mainContainer{
    background-color: $header-light-background;
    justify-content: space-between;
    border-bottom: 2px solid black;
    
    
    .appHeading{
        .ham-memu{
            display: none ;
        }
        margin: 0 2rem 0 2rem;
        p{
    text-align: center;
    // background-color: white;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black ;
    font-size: 18px;
        }
    }
    .header-left-panel{
        gap: 0.5rem;
        color: white;
        font-size: 18px;
        .icon{
            cursor: pointer;
            font-size: 18px !important;
        }

       
    }
.header{
    // background-color:#a1a1a3 ;
    position: relative;
    width: 60%;
    .headerContainer{
        position: absolute;
        top: 0.5rem;
        left: 25%;
        width: 60%;
        background-color:color-mix(in oklab, rgba(228,228,228,255), rgba(72,102,128,255));
        backdrop-filter: 5px 5px;
        opacity: 1;
        border-radius: 15px;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        // gap: 3rem;
        padding: 0.5rem 3rem;
        color: aliceblue;
        border:2px solid white;
        .menuItem{
            @include menuItem;
            color:black
           
        }
        .selectedItem{
            @include menuItem;
            translate: 0 15px;
            color: white;
            background: black;
            box-shadow: 3px 3px black, -3px -3px 4px grey inset;
            border:2px solid green
        }

        // box-shadow: inset -5px -5px 5px #a1a1a3,5px 5px 10px #a1a1a3 ;
    }
}
}

@mixin enableHambuger{
    .ham-menu-container{
        display: block !important;
    }
   
    .mainContainer{
        .header{

            display: none !important;
        }
        .appHeading{
            display: flex;
            align-items: center;
            // color: white;
            .ham-memu{
                display: block ;
                // color: white;
                .MuiButtonBase-root{
                    svg{
                        color: white;
                    }
                }
               
            }}
    }

}
@include laptopMedia{
    @include enableHambuger
   
}
@include mobileView{
    @include enableHambuger;
    .mainContainer{

        .header-left-panel{
            font-size: 14px;
            
        }
    }

}
.ham-menu-container{
    display: none ;
    .MuiPaper-root{
        ul{
            li{
                a{
                    text-decoration: none;
                    cursor: pointer;
                }
                .menuItem{
                    color: black;
                    font-size: 13px;
                    font-weight: 400
                }
                .selectedItem{
                    color: green;
                    font-size: 13px;
                    font-weight: 400

                }
            }
        }
    }
}