$primary-background-theme-light:#f1f1f1;
$primary-text-theme-color:black;
$header-light-background:rgba(86,118,128,255);
// $secondary-background-theme-dark:rgba(18, 17, 17,0.4);
@mixin themeController($theme){
    @if $theme == 'dark'{
        $primary-background-theme-light:rgba(18, 17, 17,0.7) !global;
        $primary-text-theme-color:#f1f1f1 !global; 
    }
}
@mixin mobileView{
    @media (min-width:330px) and (max-width:768px) {
        @content
        
    }
}
@mixin laptopMedia{
    @media  (min-width: 768px) and (max-width: 1024px) {
        @content
    }
}
